body {
  background-color: #faf3dd;
}

.header-page {
  position: relative;
  z-index: 2100;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
  color: #494949;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,.05), 0 10px 10px 0 rgba(0,0,0,.05);
  text-transform: uppercase;
}

.header-container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

.header-nav .header-nav--left {
  padding-left: 0;
}

.header-nav--logo {
  flex-grow: inherit;
  flex-basis: auto;
  max-width: 40%;
  left: 45%;
  top: 20%;
  position: absolute;
}

.content-header__custom p{
  margin: auto;
  max-width: 65%;
  font-size: medium;
  color: #000000;
  margin-bottom: 40px;
}

.content-header__custom h3{
  font-size:35px;
  color: #000000;
  font-weight: bolder;
}

.header-nav--right {
  flex-grow: inherit;
  flex-basis: auto;
  max-width: 40%;
  right: 2%;
  top: 30%;
  position: absolute;
  font-weight: bold;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.header-nav__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-nav__menu-item>a, .header-nav__menu-item>button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
}

.header-nav__menu-item:last-child {
  margin-right: 0;
}

.header-nav__menu-item:first-child {
  margin-left: 0;
}

.header-nav__menu-item {
  display: flex;
  align-self: stretch;
  max-width: 60%;
  left: 2%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-0%, -50%); /* 水平居中，垂直居中*/
  transform: translate(-0%, -50%); /* 水平居中，垂直居中*/
}

/* [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
} */

.header-nav__menu-back {
  color: #68b0ab;
  text-transform: uppercase;
  letter-spacing: .075em;
  transition: color .15s cubic-bezier(.42,0,.13,1.04);
}

.icon-arrow-right {
  fill: #68b0ab;
  transition: fill .15s cubic-bezier(.42,0,.13,1.04);
}

button {
  border: inherit;
  background-color: inherit;
  font: inherit;
}

.mr-3, .mx-3 {
  margin-right: 1rem!important;
  float: left;
}

.arrow--left {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icon {
  display: none;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}

.icon-diet {
  display: inline-block;
  /* width: 20px; */
  height: 100%;
  vertical-align: middle;
  fill: currentColor;
}

.icon-story {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.d-lg-block {
    float: right;
    font-weight: bolder;
    font-size: medium;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.pz-progress-bar {
  background-color: #fff;
  z-index: 1;
}

.pz-progress-bar__track {
  max-width: 678px;
  border-bottom-width: 25px;
  border-bottom-style: solid;
  border-top-width: 25px;
  border-top-style: solid;
}

.pz-progress-bar__track {
  margin: auto;
}

.navigation-slider__container {
  padding: 0 10px;
}

.navigation-slider {
  padding: 32px 0 20px;
  display: inline-block;
}

.navigation-slider {
  cursor: auto;
  padding: 0;
  margin-bottom: 0;
  display: block;
}

.MuiSlider-marked {
  margin-bottom: 20px;
}

.MuiSlider-colorSecondary {
  color: #68b0ab;
}

.MuiSlider-root {
  color: #1f2c42;
  width: 100%;
  cursor: pointer;
  height: 2px;
  display: inline-block;
  padding: 13px 0;
  position: relative;
  box-sizing: content-box;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.navigation-slider .navigation-slider-rail {
  opacity: .32;
}

.navigation-slider .navigation-slider-rail, .navigation-slider .navigation-slider-track {
  height: 4px;
}

.MuiSlider-rail {
  top:80%;
  width: 100%;
  height: 2px;
  display: block;
  opacity: 0.38;
  position: absolute;
  border-radius: 1px;
  background-color: #68b0ab;
}

.MuiSlider-track {
  top:80%;
  height: 2px;
  display: block;
  position: absolute;
  border-radius: 1px;
  background-color: #68b0ab;
}

.navigation-slider .navigation-slider-mark--active {
  border-color: #68b0ab;
  background-color: #68b0ab;
  opacity: 1;
}

.navigation-slider .navigation-slider-mark {
  top:80%;
  display: flex;
  width: 12px;
  height: 12px;
  border: 1px solid #fdc4a9;
  background-color: #fff;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  margin-top: -5px;
}

.MuiSlider-markActive {
  opacity: 0.8;
  background-color: #fff;
}

.MuiSlider-mark {
  width: 2px;
  height: 2px;
  position: absolute;
  border-radius: 1px;
  background-color: currentColor;
}

.navigation-slider .navigation-slider-mark-label--active {
  color: #030303;
  opacity: 1;
}

.navigation-slider .navigation-slider-mark-label {
  display: block;
  text-transform: uppercase;
  color: #000000;
  opacity: .3;
  font-size: .625rem;
  font-family: Neue Haas,Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1.2px;
  top: 0;
}

.navigation-slider .navigation-slider-mark-label {
  top: 0%;
  display: inline;
}

.MuiSlider-markLabelActive {
  color: rgba(0, 0, 0, 0.87);
}

.MuiSlider-markLabel {
  top: 26px;
  color: rgba(0, 0, 0, 0.54);
  position: absolute;
  font-size: 0.875rem;
  transform: translateX(-50%);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  white-space: nowrap;
  letter-spacing: 0.01071em;
}

.pos2 {
  left: -1.0101%;
}

.info {
  left: -1.0101%;
}

.dog-info {
  left: 19.1919%;
}

.sensitive {
  left: 39.3939%;
}

.health {
  left: 59.596%;
}

.food {
  left: 79.798%;
}

.result {
  left: 100%;
}

.text-left {
  text-align: left!important;
}

.container {
  height: 650px;
  max-width: 100%;
}


.content-header__eyebrow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-header__eyebrow {
  margin-bottom: 16px;
}

.content-header__eyebrow {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.text-rust {
  color: #68b0ab!important;
  font-weight: 600;
}

.row {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -30px;
}

.pz-slide {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
  padding-top: 25px;
  padding-bottom: 75px;
}

.align-items-center {
  align-items: center!important;
}

.pz-slide__content {
  width: 45%;
  left: 10%;
}

.pz-slide__content-mid {
  margin-top: 30px;
  width: 45%;
  left: 27.5%;
}

.offset-xl-1 {
  margin-left: 8.3333333333%;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.content-header__eyebrow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-header__title {
  flex-direction: row;
  align-items: flex-end;
}

.content-header__title h1 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 40px;
}

.content-header__title-2 {
  flex-direction: row;
  align-items: flex-end;
}

.content-header__title-2 h1 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 40px;
}

.content-header__subtitle--tight {
  margin-top: 16px;
  color: #000000;
  font-size: medium;
}

.article-rte h1, .h1, h1 {
  font-size: 2.75rem;
  letter-spacing: 0;
  line-height: 1.1818181818;
  color: #000000;
  font-weight: bolder;
}

.pz-slide__form {
  margin-top: 48px;
}

.pz-form {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 10px;
  padding-left: 10px;
}

.alternate-form .form-group {
  width: 100%;
  position: relative;
}

.form-group {
  margin-bottom: 1rem;
}

.alternate-form .custom-radio.custom-control {
  padding-left: 0;
}

.alternate-form .custom-radio {
  width: 100%;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,.05), 0 10px 10px 0 rgba(0,0,0,.05);
  background: #fff;
}

.text-left {
  text-align: left!important;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.7rem;
}

.custom-radio .custom-control-input {
  position: absolute!important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.form-group--flex .custom-control+.custom-control {
  margin-top: 0;
  margin-left: 1.25rem;
}

.alternate-form input, .alternate-form input:focus {
  box-shadow: 0 10px 40px 0 rgba(0,0,0,.05), 0 10px 10px 0 rgba(0,0,0,.05);
}

.alternate-form .custom-radio .custom-control-label {
  padding: 35px 25px 35px 65px;
}

.alternate-form .custom-radio .custom-control-label {
  width: 40%;
  padding: 20px 25px 20px 65px;
  margin-bottom: 0;
  cursor: pointer;
}

.options {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: center;
  /* justify-content: center; */
  margin-top: 50px;
}

.option.selected {
  border: 2px solid #68b0ab;
}

.option:not(:last-of-type) {
  margin-right: 60px;
}

.options--images .option {
  -ms-flex-pack: start!important;
  justify-content: flex-start!important;
  max-width: 180px;
  border-radius: 8px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05), 0 10px 10px 0 rgba(0, 0, 0, 0.05);
  /* box-shadow: 0 10px 40px 0 rgba(0,0,0,.05), 0 10px 10px 0 rgba(0,0,0,.05); */
}

.option {
  border: 2px solid white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.option__text {
  padding: 0 25px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
}

.option__text__label.with-margin {
  margin-bottom: 25px;
  text-align: left;
}

.option__text__label {
  font-family: Circular-Standard-Book;
  width: 100%;
  color: #68b0ab;
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
}

.gender-img {
  border-radius: 8px;
}

.footer--quiz {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  /* display: flex; */
  /* justify-content: right; */
  /* z-index: 2203; */
}

.footer--quiz .btn {
  width: auto;
}

.btn-solid {
  background-color: #68b0ab;
  color: #fff;
}

.btn-solid.option.selected {
  background-color: #68b0ab;
  color: #fff;
}

.btn-solid {
  float: right;
  /* display: inline-block; */
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 1;
  padding: 20px 48px;
  min-width: 216px;
  font-size: medium;
  font-weight: 600;
  border-radius: 1.7px;
  border: 2px solid #68b0ab;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
  -webkit-appearance: none;
  text-indent: 0px;
  text-shadow: none;
}

.pz .pet-overview-card {
  min-width: 330px;
  padding: 0;
}

.pet-overview-card {
  transition: all 0.5s;
}

.pet-overview-card:hover {
  padding: 0;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.03);
}

.claims-card, .label-card, .pet-overview-card, .recipe-card {
  /* top: 35%; */
  width: 25%;
  left: 55%;
  position: absolute;
  /* display: flex; */
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,.05), 0 10px 10px 0 rgba(0,0,0,.05);
}

/* .col-xl-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.offset-lg-1 {
  margin-left: 8.3333333333%;
} */

.pet-overview-card__header {
  margin-bottom: 0;
  padding-bottom: 40px;
}

.claims-card__header, .pet-overview-card__header, .recipe-card__header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 40px 45px;
}

.text-center {
  text-align: center!important;
}

.bg-sun {
  background-color: #c8d5b9!important;
}

.pet-overview-card__body {
  padding: 40px 30px;
}

.pet-overview-card__list-item:not(:last-of-type) {
  margin-bottom: 20px;
}

.pet-overview-card__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pet-overview-card__list-item.is-incomplete .pet-overview-card__list-item-icon {
  border-radius: 50%;
}

.pet-overview-card__list-item.is-incomplete .pet-overview-card__list-item-icon, .pet-overview-card__list-item.is-incomplete .pet-overview-card__list-item-label, .pet-overview-card__list-item.is-incomplete .pet-overview-card__list-item-value {
  display: block;
  background: rgba(31,44,66,.12);
  color: transparent;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pet-overview-card__list-item-icon {
  width: 32px;
  height: 32px;
}

.ml-4, .mx-4 {
  margin-left: 1.5rem!important;
}

.pet-overview-card__list-item-text {
  flex: 1 1 auto;
}

.pet-overview-card__list-item.is-incomplete .pet-overview-card__list-item-icon, .pet-overview-card__list-item.is-incomplete .pet-overview-card__list-item-label, .pet-overview-card__list-item.is-incomplete .pet-overview-card__list-item-value {
  display: block;
  background: rgba(31,44,66,.12);
  color: transparent;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pet-overview-card__list-item-label {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.pet-overview-card__list-item.is-incomplete .pet-overview-card__list-item-value {
  max-width: 50%;
}

.pet-overview-card__list-item.is-incomplete .pet-overview-card__list-item-icon, .pet-overview-card__list-item.is-incomplete .pet-overview-card__list-item-label, .pet-overview-card__list-item.is-incomplete .pet-overview-card__list-item-value {
  display: block;
  background: rgba(31,44,66,.12);
  color: transparent;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pet-overview-card__list-item-value {
  font-size: .75rem;
  letter-spacing: 0;
  line-height: 1.3333333333;
}

.alternate-form input {
  padding: 35px;
  border: 2px solid #fff;
  height: 94px;
  font-size: x-large;
  line-height: 1.3;
  font-family: Ginto Nord;
  font-weight: 900;
  font-style: normal;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,.05), 0 10px 10px 0 rgba(0,0,0,.05);
  /* background: rgba(220,53,69,.05); */
  border-radius: 8px
}

.form-control:focus {
  color: #6e707e;
  background-color: #fff;
  border-color: #68b0ab;
  outline: 0;
}

.pz-control__input-limit {
  position: absolute;
  right: 25px;
  top: 21px;
  opacity: .3;
  font-size: 1.5rem;
  line-height: 1.3;
  font-family: Ginto Nord;
  font-weight: 900;
  font-style: normal;
  border-color: #dc3545;
}

.alternate-form .form-group {
  width: 100%;
  position: relative;
}

.form-group {
  margin-bottom: 1rem;
}

.birth-div {
  position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 24px; font-family: "Ginto Nord"; font-weight: 900; font-style: normal; letter-spacing: normal; text-transform: none;
}

.pz-select-group {
  margin-top: 60px;
  flex-direction: row;
  display: flex;
}

.pz-select-group .pz-select:not(:last-child) {
  margin-bottom: 0;
  margin-right: 20px;
}

.css-2b097c-container {
  position: relative;
  box-sizing: border-box;
}

.pz-select .pz-select__control, .pz-select .pz-select__control.pz-select__control--is-focused {
  padding-right: 30px;
  padding-left: 40px;
  min-height: 100px;
}

.pz-select .pz-select__control, .pz-select .pz-select__control.pz-select__control--is-focused {
  min-height: 70px;
  padding-right: 20px;
  padding-left: 25px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,.05), 0 10px 10px 0 rgba(0,0,0,.05);
}

.css-u41ve3-control {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0,0%,100%);
    border-color: rgba(31,44,66,0.2);
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
}

.pz-select .pz-select__value-container {
  padding-right: 0;
  padding-left: 0;
  overflow: initial;
}

.css-1hwfws3 {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2px 8px;
  -webkit-overflow-scrolling: touch;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.css-1wy0on6 {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}

.pz-select .pz-select__single-value {
  color: #1f2c42;
  font-size: 1.5rem;
  line-height: 1.3;
  font-family: Ginto Nord;
  font-weight: 900;
  font-style: normal;
}

.css-nztp7a-singleValue {
  color: rgba(31,44,66,0.8);
  margin-left: 2px;
  margin-right: 2px;
  max-width: calc(100% - 8px);
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-sizing: border-box;
}

.css-1v9zfle {
  margin: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  visibility: visible;
  color: rgba(31,44,66,0.8);
  box-sizing: border-box;
}

.pz-select .pz-select__input, .pz-select .pz-select__input input {
  color: #1f2c42;
  min-width: 0;
  width: 100%!important;
  box-shadow: none;
  height: auto;
}

.css-xbhri0-indicatorContainer {
  color: rgba(31,44,66,0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-transition: color 150ms;
  transition: color 150ms;
  box-sizing: border-box;
}

.css-19bqh2r {
  display: inline-block;
  fill: #68b0ab;
  line-height: 1;
  stroke: currentColor;
  stroke-width: 0;
}

/* .pz-select .pz-select__clear-indicator, .pz-select__dropdown-indicator svg, .pz-select__indicator-separator {
  display: none;
} */

.css-1auwtm3-indicatorSeparator {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background-color: rgba(31,44,66,0.2);
  margin-bottom: 8px;
  margin-top: 8px;
  width: 1px;
  box-sizing: border-box;
}

.pz-slide__form {
  margin-top: 48px;
}

.pz-slide__form {
  margin-top: 24px;
}

.pz-form {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}


.alternate-form .form-group {
  width: 100%;
  position: relative;
}

.form-group {
  margin-bottom: 1rem;
}

.pz-select-group {
  display: flex;
  flex-direction: column;
}

.pz-select-group {
  flex-direction: row;
}


.css-u41ve3-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsl(0,0%,100%);
  border-color: rgba(31,44,66,0.2);
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  box-sizing: border-box;
}

.pz-select .pz-select__value-container {
  padding-right: 0;
  padding-left: 0;
  overflow: initial;
}

.css-1hwfws3 {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2px 8px;
      padding-right: 8px;
      padding-left: 8px;
  -webkit-overflow-scrolling: touch;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.pz-select .pz-select__placeholder {
  color: rgba(31,44,66,.3);
  margin-left: 0;
  margin-right: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, .page-hero__subtitle, .page-hero__toptitle, a, em, h1, h2, h3, h4, h5, h6, i, label, li, p, select, span, strong, sup {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.pz-select .pz-select__control .pz-select__placeholder-typing, .pz-slide--110 .pz-select .pz-select__control.pz-select__control--menu-is-open .pz-select__placeholder-default, .pz-slide--126 .pz-select .pz-select__control.pz-select__control--menu-is-open .pz-select__placeholder-default {
  display: none;
}

.css-1v9zfle {
  margin: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  visibility: visible;
  color: rgba(31,44,66,0.8);
  box-sizing: border-box;
}

.css-1wy0on6 {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}

.css-xbhri0-indicatorContainer:hover {
  color: rgba(31,44,66,0.4);
}

.css-xbhri0-indicatorContainer {
  color: rgba(31,44,66,0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-transition: color 150ms;
  transition: color 150ms;
  box-sizing: border-box;
}

.pz-select .pz-select__input, .pz-select .pz-select__input:active, .pz-select .pz-select__input:focus, .pz-select .pz-select__input:hover, .pz-select .pz-select__input input, .pz-select .pz-select__input input:active, .pz-select .pz-select__input input:focus, .pz-select .pz-select__input input:hover {
  box-shadow: none;
  width: auto;
  height: auto;
}

.pz-select .pz-select__input, .pz-select .pz-select__input input {
  color: #1f2c42;
  min-width: 0;
  width: 100% !important;
}


.pz-select__dropdown-indicator::before {

  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #68b0ab;
  cursor: pointer;

}

.alternate-form .custom-radio .custom-control-label, .pz-control__input-limit, .pz-select .pz-select__input, .pz-select .pz-select__input input, .pz-select .pz-select__menu-notice, .pz-select .pz-select__option, .pz-select .pz-select__placeholder, .pz-select .pz-select__single-value, .txt-input-alternate, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline .bottom-line-items .reviews-qa-labels-container span, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline .bottom-line-items .yotpo-sum-reviews span, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-1 .reviews-qa-labels-container span, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-1 .yotpo-sum-reviews span {
  font-size: 1.5rem;
  line-height: 1.3;
}

.alternate-form input {
  font-size: 2.5rem;
  line-height: 1.5;
}

.invalid-feedback {
  font-size: 1.25rem;
}

.pz-select .pz-select__clear-indicator, .pz-select__dropdown-indicator svg, .pz-select__indicator-separator {
  display: none;
}

.pz-select .pz-select__menu {
  border-radius: 8px;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,.05),0 10px 10px 0 rgba(0,0,0,.05);
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 2204;
}

.display-menu {
  display: none;
}

.css-i0syzg-menu {
  top: 100%;
  background-color: hsl(0,0%,100%);
  border-radius: 0;
  box-shadow: 0 0 0 1px hsla(0,0%,0%,0.1),0 4px 11px hsla(0,0%,0%,0.1);
  margin-bottom: 8px;
  margin-top: 8px;
  position: absolute;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}

.pz-select .pz-select__menu-list {
  border-radius: 8px;
  padding: 0;
  position: relative;
}
.css-11unzgr {
  max-height: 300px;
  overflow-y: auto;
  padding-bottom: 4px;
  padding-top: 4px;
  position: relative;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

.pz-select .pz-select__option--is-focused, .pz-select .pz-select__option--is-focused:active, .pz-select .pz-select__option--is-focused:focus, .pz-select .pz-select__option--is-focused:hover {
  background-color: rgba(31,44,66,.05);
  color: #1f2c42;
  border-left: 4px solid #68b0ab;
}
.pz-select .pz-select__menu-notice, .pz-select .pz-select__option {
  padding: 24px 40px;
  color: #1f2c42;
  background-color: #fff;
  border-left: 4px solid transparent;
}
.alternate-form .custom-radio .custom-control-label, .pz-control__input-limit, .pz-select .pz-select__input, .pz-select .pz-select__input input, .pz-select .pz-select__menu-notice, .pz-select .pz-select__option, .pz-select .pz-select__placeholder, .pz-select .pz-select__single-value, .txt-input-alternate, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline .bottom-line-items .reviews-qa-labels-container span, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline .bottom-line-items .yotpo-sum-reviews span, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-1 .reviews-qa-labels-container span, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-1 .yotpo-sum-reviews span {
  font-size: 1.5rem;
  line-height: 1.3;
}
.alternate-form .custom-radio .custom-control-label, .pz-control__input-limit, .pz-select .pz-select__input, .pz-select .pz-select__input input, .pz-select .pz-select__menu-notice, .pz-select .pz-select__option, .pz-select .pz-select__placeholder, .pz-select .pz-select__single-value, .txt-input-alternate, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline .bottom-line-items .reviews-qa-labels-container span, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline .bottom-line-items .yotpo-sum-reviews span, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-1 .reviews-qa-labels-container span, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-1 .yotpo-sum-reviews span {
  font-size: 1.25rem;
  line-height: 1.5;
}
.alternate-form .custom-radio .custom-control-label, .article-rte h3, .claims-card__title, .content-header__custom h3, .font-ginto-nord-black, .h3, .info-card__title, .pet-image-overlay__card-title, .pz-control__input-limit, .pz-select .pz-select__input, .pz-select .pz-select__input input, .pz-select .pz-select__menu-notice, .pz-select .pz-select__option, .pz-select .pz-select__placeholder, .pz-select .pz-select__single-value, .txt-card-header-title, .txt-info-card-title, .txt-input-alternate, .txt-learn-title, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline .bottom-line-items .reviews-qa-labels-container span, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline .bottom-line-items .yotpo-sum-reviews span, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-1 .reviews-qa-labels-container span, .yotpo.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-1 .yotpo-sum-reviews span, h3 {
  font-family: Ginto Nord;
  font-weight: 900;
  font-style: normal;
}
.css-152efi3-option {
  background-color: rgba(221,79,0,0.3);
  color: inherit;
  cursor: default;
  display: block;
  font-size: inherit;
  padding: 8px 12px;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

.custom-checkbox .custom-control-input {
  position: absolute!important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox .custom-control-input:not(:checked)~.custom-control-label:after, .alternate-form .custom-checkbox .custom-control-input:not(:checked)~.custom-control-label:before {
  background-color: transparent;
}

.custom-checkbox .custom-control-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  padding: 20px 25px 20px 60px;
  transition: all .4s cubic-bezier(.42,0,.13,1.04);
  cursor: pointer;
}

.pz-control__custom-checkbox input, input:focus {
  box-shadow: 0 10px 40px 0 rgba(0,0,0,.05), 0 10px 10px 0 rgba(0,0,0,.05);
}

.pz-control__custom-checkbox {
  top: 10px;
  left: -15px;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.7rem;
}

 .custom-checkbox {
  width: 100%;
  transition: all .4s cubic-bezier(.42,0,.13,1.04);
}

.custom-checkbox .custom-control-label:after, .pz-slide--132 .custom-checkbox .custom-control-label:before {
  left: 0;
}

.custom-checkbox .custom-control-label.custom-control-label--small-text:after, .custom-checkbox .custom-control-label.custom-control-label--small-text:before {
  top: 20px;
}

.custom-checkbox .custom-control-label:after, .custom-checkbox .custom-control-label:before {
  width: 24px;
  height: 24px;
  top: 30px;
  left: 20px;
}

.custom-checkbox .custom-control-label:before {
  border-radius: 50%;
}

.custom-control-label:before, .custom-file-label, .custom-select {
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-control-label:after, .custom-control-label:before {
  position: absolute;
  top: .15rem;
  left: -15px;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  color: #000000;
}

.custom-control-label:before {
  pointer-events: none;
  background-color: #fff;
  border: 1px solid #ccc;
}

.custom-control-label--small-text {
  left: -15px;
  color: #363636;
  font-size: large;
}

.header__breadcrumbs {
  display: -ms-flexbox;
  display: contents;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: absolute;
}

.header__breadcrumbs__breadcrumb {

  display: -ms-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;

}

.header__breadcrumbs__breadcrumb__text.previous {

  color: #8fc0a9;

}

.header__breadcrumbs__breadcrumb__text {

  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .93px;
  line-height: 14px;
  color: #babecb;
}

.header__breadcrumbs__breadcrumb__text.selected {

  background-color: #8fc0a9;
  border-radius: 4rem;
  padding: 7.5px 15px;
  border: 1px solid #8fc0a9 !important;
  color: #e8ffc1;
}

.header__breadcrumbs__breadcrumb__separator.selected {

  border-top: 1px solid #8fc0a9 !important;

}

.header__breadcrumbs__breadcrumb__separator {

  width: 30px;
  height: 1px;
  border-top: 1px dashed #babecb;
  margin-left: 5px;
  margin-right: 5px;

}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #fff;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #c8d5b9;
  background-color: #68b0ab;
}

.dognameicon {
  width: 50px;
  height: 50px;
}

.r-radio-slider__container {
  position: relative;
  background-color: #fff;
  border-radius: 25px;
  height: 32px;
  margin-bottom: 120px;
  width: 100%;
  display: block;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.05);
  box-sizing: content-box;
  margin-top: 80px;
  margin-bottom: 80px;
}

.r-radio-slider__rail {
  position: relative;
  width: 100%;
  height: 100%;
}

.r-radio-slider__rail input {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  min-width: auto;
}

.r-radio-slider__label--first {
  text-align: left;
  padding-left: 0;
}

.r-radio-slider__label--first, .r-radio-slider__label--last {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.r-radio-slider__label {

  position: absolute;
  text-align: center;
  top: 68px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 1;
  padding-left: 10px;
  padding-right: 10px;

}

.radio-slider__subtitle, .radio-slider__title {

  color: #1f2c42;
  margin-bottom: 5px;

}

.radio-slider__subtitle {

  text-transform: none;
  padding-left: 5px;
  padding-right: 5px;

}

.radio-slider__subtitle, .radio-slider__title {
  color: #1f2c42;
  margin-bottom: 5px;
}

.radio-slider__subtitle, .tippy-content, .txt-form-helper {
  font-size: .75rem;
  line-height: 1.3;
}

label {

  color: #1f2c42;
  opacity: .6;

}

label {

  display: inline-block;
  margin-bottom: .5rem;

}

.r-radio-slider__btn--first {
  transform: translateY(-50%);
}

.r-radio-slider__btn {
  cursor: pointer;
  display: block;
  background-color:#a2cdcb;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  z-index: 2;
}

.r-radio-slider__btn, .r-radio-slider__knob::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

*, ::after, ::before {
  box-sizing: border-box;
}

.r-radio-slider__rail input {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  min-width: auto;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}



.r-radio-slider__knob {

  box-shadow: 0 4px 12px 0 rgba(31,44,66,.16);
  background-color: #68b0ab;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  z-index: 5;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-100%,-50%);
  transform: translate(-100%,-50%);
  right: 0;
  transition: left .3s ease-in-out;

}

.r-radio-slider__label--last {

  text-align: right;
  left: auto;
  padding-right: 0;

}

.r-radio-slider__btn--last {
    -webkit-transform: translate(-100%,-50%);
    transform: translate(-100%,-50%);
}

.r-radio-slider__btn--completed {

  background-color: #f8f9fa;
  opacity: .4;

}

.r-radio-slider__track-container {

  height: 32px;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;

}


.r-radio-slider__track {
  height: 100%;
  border-radius: 25px;
  position: absolute;
  top: 0;
  display: block;
  background-color: #68b0ab;
  z-index: 1;
  pointer-events: none;
  transition: width .3s ease-in-out;
  box-sizing: content-box;
}

.r-radio-slider__knob::before {

  content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%23fff' d='M19.218 7.818a1 1 0 01.077 1.327l-.077.087-8.486 8.486a1 1 0 01-1.327.077l-.087-.077-3.536-3.536A1 1 0 017.11 12.69l.088.078 2.829 2.827 7.777-7.777a1 1 0 011.327-.078l.088.078z'/%3E%3C/svg%3E");
  display: inline-block;
  width: 24px;
  height: 24px;
  left: 50%;
  z-index: 5;
}

.label-color {
  color: rgb(47, 53, 63);
  font-size: small;
  font-weight: normal;
}

.value-color {
  color: rgb(47, 53, 63);
  font-size: 5px;
  font-weight: lighter;
}

.alternate-form .custom-checkbox .custom-control-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  padding: 20px 25px 20px 60px;
  transition: all .4s cubic-bezier(.42,0,.13,1.04);
  cursor: pointer;
}

.col .custom-control-label {
  border-bottom: 1px solid rgba(31,44,66,.1);
}

.spayed-input {
  background-color: #fff;
  border-color: #fff;
}

.line {
  height: 40px;
}

.disable-div {
  display: none;
}

.weight-form {
  margin-top: 20px;
  height:20%;
}

.diet-card {
  width: 40%;
  left: 55%;
  position: absolute;
  /* display: flex; */
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,.05), 0 10px 10px 0 rgba(0,0,0,.05);
  transition: all 0.5s;
}

.text-smallest {
  font-size: 16px;
  line-height: 1.3em;
}

.color-chew-toy {
  color: #68b0ab;
}

.text-smallest h2 {
  font-weight: bolder;
}

.nutrition-section--beef {
  border-bottom: 1px solid #68b0ab;
  padding: 20px 0;
}

.nutrition-row .nutrition-row__label {
  font-weight: 500;
  text-align: left;
  width: 70%;
  float: left;

}

.nutrition-row .nutrition-row__value {
  font-weight: 700;
  text-align: right;
  width: 30%;
  float: right;

}

.nutrition-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
}

.padding-top {
  padding-top: 20px;
}

.recipe-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .3s ease-in-out;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 10px 0;
}

.juicy-container>div:first-child {
  background-color: #535435;
  color: #fff;
}

.recipe-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .3s ease-in-out;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 10px 0;
}

form input[type=checkbox] {
  width: auto;
}

.checkbox-label, .sv_q_checkbox_control_item, .sv_q_checkbox_control_label, form input[type=checkbox] {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.sv_q_checkbox_control_item, form input[type=checkbox] {
  opacity: 0;
  position: absolute;
}

.StripeElement--complete, .StripeElement--empty, .StripeElement--focus, .StripeElement--invalid, .StripeElement--webkit-autofill, .sv_q_text_root, form input, form textarea {
  background-color: #fff;
  border: 1px solid #a7a8a9;
  border-radius: 3px;
  font-family: GTAmerica,sans-serif;
  font-size: 1em;
  padding: 10px;
  width: 100%;
}

.custom-control-label-bottom {
  border-bottom: 1px solid rgba(31,44,66,.1);
}

.diet-block {
  /* margin-top: 10px; */
  padding-top: 20px;
  /* width: 60%; */
  height: 20%;
}

.diet-image {
  margin-top: 11px;
  width: 30%;
  height: 100px;
  float: left;
  /* background-color: #494949; */
}

.diet-ratio {
  margin-bottom: 20px;
  width: 70%;
  float: right;
}

.space {
  height: 10px;
}

.ingredient {
  text-align: left;
  font-weight: 500;
}